In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy as spy
from scipy import linalg

In [2]:
a=[1,2,3,4]

In [3]:
pd.Series(a)

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
pd.Series(['d',2,'@'])

0    d
1    2
2    @
dtype: object

In [5]:
df=pd.DataFrame([[1,2,3],[2,3,4]],['a','b'],['x','y','z'])

In [6]:
print(df)

   x  y  z
a  1  2  3
b  2  3  4

In [7]:
df['x']

a    1
b    2
Name: x, dtype: int64

In [8]:
df[['x']]

   x
a  1
b  2

In [9]:
df.loc['a']

x    1
y    2
z    3
Name: a, dtype: int64

In [10]:
df.loc[['a'],['x']]

   x
a  1

In [11]:
df.iloc[1]

x    2
y    3
z    4
Name: b, dtype: int64

In [12]:
a=np.array([[1,2,3],[3,7,8],[2,1,0]])

In [13]:
np.transpose(a)

array([[1, 3, 2],
       [2, 7, 1],
       [3, 8, 0]])

In [14]:
linalg.inv(a)

array([[ 0.88888889, -0.33333333,  0.55555556],
       [-1.77777778,  0.66666667, -0.11111111],
       [ 1.22222222, -0.33333333, -0.11111111]])

In [15]:
b=np.array([[1,0,3],[-3,6,8],[8,-2,4]])

In [16]:
a.dot(a)

array([[13, 19, 19],
       [40, 63, 65],
       [ 5, 11, 14]])

In [17]:
(a.T).dot(b)

array([[  8,  14,  35],
       [-11,  40,  66],
       [-21,  48,  73]])

In [18]:
linalg.inv((a.T).dot(b))

array([[-0.32041344,  0.8501292 , -0.61498708],
       [-0.75322997,  1.70413437, -1.17958656],
       [ 0.40310078, -0.87596899,  0.6124031 ]])

In [19]:
linalg.inv(b.dot(b.T))

array([[ 1.23580314, -0.24932396, -0.30611141],
       [-0.24932396,  0.05949162,  0.06219578],
       [-0.30611141,  0.06219578,  0.08775014]])

In [21]:
r = int(input('enter the no of rows of the matrix : '))
c = int(input('enter the no of columns of the matrix : '))
m=np.zeros((r,c))
for i in range(0,r):
    print('enter the',i,'th row')
    m[i]=input().split()
n=m.T
z=m.dot(n)
print(z)
if np.array_equal(z,np.identity(r)):
    print('not orthogonal')
else:
    print('orthogonal')

enter the no of rows of the matrix : 2
enter the no of columns of the matrix : 2
enter the 0 th row
1 2
enter the 1 th row
2 1
[[5. 4.]
 [4. 5.]]
orthogonal